@model gesStockSdr.Models.Fournisseur

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Supprimer</h2>

<h3>vous voulez vraiment supprimer cet element?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <i class="fas fa-truck"></i>    @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> 
            <a href="@Url.Action("Index", "Fournisseurs" )" class="btn btn-primary">Annuler</a>
        </div>
    }
</div>
